.container{
	text-align: center;
}


#header{
	padding-top: 50px;
}

#startGameButton{
	text-decoration: none;
}

#startGameButton:hover{
	text-decoration: none;
	font-weight: bold;
}


#answerDisplay{
	margin-top: 30px;
	margin-bottom: 50px;
	font-size: 36px;
}

#leftbox{
	padding: 50px;
}

#leftboximg{
	max-width: 100%;
}



#rightbox{
	padding: 65px;

}


#lettersGuessed{
	padding: 50px;
}

#wins, #losses, #guessLeft {
	padding: 25px;
}


.winloss{
	padding: 20px;
	margin-bottom: 10px;
}


a{
	text-decoration: none;
}

#gameboard{
	margin-bottom: 50px;
}

