.container{
	text-align: center;
}


#header{
	padding-top: 100px;
}

#startGameButton{
	text-decoration: none;
}

#startGameButton:hover{
	text-decoration: none;
	font-weight: bold;
}


#answerDisplay{
	margin-bottom: 50px;
	font-size: 36px;
}

#leftbox{
	padding: 50px;
/*	margin-right: 30px;
	margin-left: 30px;*/
}


/*.row{
	padding: 20px;
}*/

#rightbox{
	padding: 50px;

}



#stats